/* DELPHI THEME */
:root {
    --BodyBackgroundColor: rgb(0, 48, 138);
    --ChatBackgroundColor: rgb(0, 29, 63);
    --ChatBorderColor: rgb(0, 229, 255);
    --ChatContainerViewHeight: 74vh;

    --ModelLabelColor: rgb(185, 219, 253);
    --ModelStatColor: rgb(255, 255, 255);

    --NavBarBackgroundColor: var(--BodyBackgroundColor);
    --NavBarTextColor: rgb(255, 255, 255);

    --BrandColor: var(--ChatBorderColor);
    --BrandMvcColor: rgb(255, 255, 255);

    --MsgSentBackgroundColor: rgb(238, 168, 253);
    --MsgSentBorderColor: var(--MsgSentBackgroundColor);
    --MsgSentTextColor: rgb(0, 0, 0);
    --MsgSentEllipseColor: var(--MsgSentTextColor);
    --MsgSentElipseBackgroundColor: var(--MsgSentBackgroundColor);

    --MsgRcvdBackgroundColor: rgb(255, 157, 165);
    --MsgRcvdBorderColor: var(--MsgRcvdBackgroundColor);
    --MsgRcvdTextColor: rgb(0, 0, 0);
    --MsgRcvdElipseColor: var(--MsgRcvdTextColor);
    --MsgRcvdElipseBackgroundColor: var(--MsgRcvdBackgroundColor);

    --PromptHeadingtBackgroundColor: var(--ModelLabelColor);
    --PromptHeadingTextColor: rgb(0, 0, 0);
    --PromptBackgroundColor: rgb(255, 255, 255);
    --PromptTextColor: rgb(0, 0, 0);
    --PromptTablePadding: 3px;

    --BubbleTitleTextColor: rgb(255, 255, 255);

    /* NEW 08-15-2025 */
    --ChatDashboardBackgroundColor: var(--ChatBackgroundColor);
    --PrivacyLinkColor: rgb(255, 255, 255);
    --ProgressBarTextColor: rgb(0, 0, 0);
    --ModelStatsTableWidth: 100%;
    --HeaderFooterBorderBottomColor: rgb(179, 240, 254);
}

.ProgressBarColor {
    background-color: var(--ModelLabelColor);
}

.ProgressBar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 25px;
    border: 1px solid var(--ModelLabelColor);
}