:root {
    /* LIGHT THEME */
    --BodyBackgroundColor: rgb(255, 222, 238);
    --ChatBackgroundColor: rgb(255, 255, 255);
    --ChatBorderColor: rgb(0, 0, 0);
    --ChatContainerViewHeight: 74vh;

    --ModelLabelColor:  rgba(0, 0, 0, 0.644);
    --ModelStatColor:  rgba(84, 45, 0, 0.644);

    --NavBarBackgroundColor: var(--BodyBackgroundColor);
    --NavBarTextColor: rgb(0, 0, 0);

    --BrandColor: var(--ChatBorderColor);
    --BrandMvcColor: rgb(139, 62, 163);

    --MsgSentBackgroundColor: rgb(0, 69, 208);
    --MsgSentBorderColor: var(--MsgSentBackgroundColor);
    --MsgSentTextColor: rgb(255, 255, 255);
    --MsgSentEllipseColor: var(--MsgSentTextColor);
    --MsgSentElipseBackgroundColor: var(--MsgSentBackgroundColor);

    --MsgRcvdBackgroundColor: rgb(177, 177, 177);
    --MsgRcvdBorderColor: var(--MsgRcvdBackgroundColor);
    --MsgRcvdTextColor: rgb(0, 0, 0);
    --MsgRcvdElipseColor: var(--MsgRcvdTextColor);
    --MsgRcvdElipseBackgroundColor: var(--MsgRcvdBackgroundColor);

    --PromptHeadingtBackgroundColor: rgba(0, 0, 0, 0.644);
    --PromptHeadingTextColor: rgb(255, 255, 255);
    --PromptBackgroundColor: rgb(255, 255, 255);
    --PromptTextColor: rgb(0, 0, 0);
    --PromptTablePadding: 3px;

    --BubbleTitleTextColor: rgb(0, 0, 0);

    /* NEW 08-15-2025 */
    --ChatDashboardBackgroundColor: rgb(255, 246, 200);
    --PrivacyLinkColor: rgb(0, 0, 0);
    --ProgressBarTextColor: rgb(255, 255, 255);
    --ModelStatsTableWidth: 100%;
    --HeaderFooterBorderBottomColor: rgba(0, 0, 0, 0.644);
}

.ProgressBarColor {
    background-color: var(--ModelLabelColor);
}

.ProgressBar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 25px;
    border: 1px solid var(--ModelLabelColor);
}