nav {
  background-color: var(--NavBarBackgroundColor);
  color: var(--NavBarTextColor);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--BodyBackgroundColor);
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

p {
  text-align: left;
}


/* QuickReset */
* {
  margin: 0;
  box-sizing: border-box;
}

.chat {
  --rad: 20px;
  --rad-sm: 3px;
  font: 20px/1.5 sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /*max-width: 1000px;*/
  margin: auto;
}

.msg {
  position: relative;
  max-width: 75%;
  padding: 7px 15px;
  margin-bottom: 2px;
}

.msg.sent {
  border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
  border-color: var(--MsgSentBorderColor);
  background: var(--MsgSentBackgroundColor);
  color: var(--MsgSentTextColor);
  /* moves it to the right */
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.msg.rcvd {
  border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
  border-color: var(--MsgRcvdBorderColor);
  background: var(--MsgRcvdBackgroundColor);
  color: var(--MsgRcvdTextColor);
  /* moves it to the left */
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Improve radius for messages group */

.msg.sent:first-child,
.msg.rcvd+.msg.sent {
  border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent+.msg.rcvd {
  border-top-left-radius: var(--rad);
}


/* time */

.msg::before {
  content: attr(data-time);
  /*font-size: 0.8rem;*/
  font-size: 20px/1.5 sans-serif;
  position: absolute;
  bottom: 100%;
  color: var(--BubbleTitleTextColor);
  white-space: nowrap;
  /* Hidden by default */
  display: none;
}

.msg.sent::before {
  right: 15px;
}

.msg.rcvd::before {
  left: 15px;
}


/* Show time only for first message in group */

.msg:first-child::before,
.msg.sent+.msg.rcvd::before,
.msg.rcvd+.msg.sent::before {
  /* Show only for first message in group */
  display: block;
}

/* END 3rd party CSS */


/* custom css */
.navbar-brand {
  font-weight: bold;
}

.PromptTable {
  width: 100%;
}

.PromptContainer {
  width: 97vw;
  border-color: var(--ChatBorderColor);
  border-width: 1px;
  border-style: solid;
  padding: var(--PromptTablePadding);
}

.PromptTableHeading {
  background-color: var(--PromptHeadingtBackgroundColor);
  color: var(--PromptHeadingTextColor);
  padding: var(--PromptTablePadding);
  font-weight: normal !important;
  font-size: 18px !important;
  border: 1px solid black;
  width: 33%;
  vertical-align: middle;
}

.PromptTableData {
  background-color: var(--PromptBackgroundColor);
  color: var(--PromptTextColor);
  padding: var(--PromptTablePadding);
  font-weight: normal !important;
  font-size: 20px !important;
  border: 1px solid black;
  width: 33%;
  vertical-align: top;
}

.LlmSettingsDialog {
  width: 1050px;
}

.LlmSettingsItem th,
.LlmSettingsItem td {
  font-weight: bold !important;
  font-size: 14px !important;
  padding: 25px 25px 25px 25px !important;
  border: 1px solid black !important;
  width: 300px;
}

.LlmSettingDivSpinner {
  text-align: center !important;
  white-space: nowrap;
  margin: 0 auto;
}

.NavBarStyle {
  vertical-align: middle;
  width: 50%;
  padding-right: 35px;
  padding-left: 25px;
  color: white;
}

select.ThemeDropdownStyle {
  margin-right: 38px;
  margin-top: 0px;
  width: 250px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #CCC;
  height: 25px;
  background-color: var(--BodyBackgroundColor);
}

.bright_links {
  color: var(--PrivacyLinkColor);
  vertical-align: middle !important;
  align-content: center !important;
  text-align: center;
}

.privacy_policy {
  color: rgb(172, 172, 172);
  font-size: 12pt;
}

.ChatContainer {
  width: 97vw;
  height: var(--ChatContainerViewHeight);
  margin: auto;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ChatBorderColor);
  background-color: var(--ChatBackgroundColor);
}

.chat_scrollable {
  height: 72vh;
  width: 70vw;
  overflow: auto;
  float: left;
  margin-left: -5px;
}

.chat_dashboard {
  height: 73vh;
  width: 27vw;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  overflow: auto;
  border-left: 1px solid var(--ChatBorderColor);
  background-color: var(--ChatDashboardBackgroundColor);
}

.ModalSettingsLabel {
  font-size: 12pt;
  width: 15% !important;
  display: table-cell;
  padding-right: 10px;
  vertical-align: top;
}

.ModalSettingsDropdown {
  font-size: 12pt;
  width: 20%;
  display: table-cell;
  padding-right: 10px;
  vertical-align: top;
}

.ModalSettingsDropdownPadding {
  padding-left: 25px;
  padding-right: 25px;
}

.ModalSettingsScrollableText {
  height: 100px;
  float: left;
  overflow: auto;
  width: 100% !important;
  display: table-cell;
  font-size: 12pt;
}

.ProgressBarTextColor {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--ProgressBarTextColor);
  font-weight: bold;
}

.model_stats_label {
  font-weight: bold;
  color: var(--ModelLabelColor);
  font-size: 18px !important;
  text-align: left;
}

.model_stats {
  color: var(--ModelStatColor);
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  font-weight: bold !important;
  margin-bottom: 15px;
}

.ModelStatsTable {
  border: 1px solid var(--ChatBorderColor);
  width: var(--ModelStatsTableWidth);
}

.ModelStatsTableHeading {
  padding: 0px 10px 0px 10px;
  color: var(--ModelLabelColor);
  text-decoration: underline;
}

.ModelStatsTableRow {
  padding: 0px 10px 0px 0px;
}

.ModelStatsTableCell {
  padding: 0px 10px 0px 10px;
  border: 1px solid var(--ChatBorderColor);
  text-align: right;
}

.header-footer-border-color {
  border-bottom-color: var(--HeaderFooterBorderBottomColor) !important;
  border-top-color: var(--HeaderFooterBorderBottomColor) !important;
}

/* END custom from developer */



/* 3rd party CSS */
/* HTML: <div class="loader"></div> */
.loader_white {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, var(--MsgSentEllipseColor) 90%, var(--MsgSentElipseBackgroundColor));
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

.loader_black {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, var(--MsgRcvdElipseColor) 90%, var(--MsgRcvdElipseBackgroundColor));
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% {
    background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
  }
}



/* drop down menu */
.styled select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}

.styled {
  margin: 50px;
  width: 120px;
  height: 34px;
  border: 1px solid #111;
  border-radius: 3px;
  /*overflow: hidden;*/
  /*background: url(https://stackoverflow.com/favicon.ico) 96% / 20% no-repeat #EEE;*/
  background-color: #686868;
}

/* END 3rd party CSS */