<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AiChatMvcV2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/solaris_theme.css" id="ThemeStyleSheetId">
</head>

<body>
    <header>
        <nav style="height:50px; margin: 0px !important;"
            class="header-footer-border-color navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="NavBarStyle" style="text-align: left;">
                <a id="navbar-brand_id" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span style='color: var(--BrandColor); padding: 0px; margin: 0px;'>
                        AiChat
                        <span
                            style='font-weight: bold; font-size: 18pt; color: var(--BrandMvcColor); padding: 0px; margin: 0px;'>Mvc</span>V2&nbsp;<span
                            style='font-style: italic; font-weight: normal; font-size: 12pt; padding: 0px; margin: 0px;''>(Flux)</span>
                    </span>
                </a>
            </div>

            <div class="NavBarStyle" style="text-align: right;"></div>
                <select id="ThemeDropdownId" class="ThemeDropdownStyle">
                    <option value="/css/light_theme.css">Light</option>
                    <option value="/css/delphi_theme.css">Delphi</option>
                    <option value="/css/solaris_theme.css" selected>Solaris</option>
                </select>
            </div>
        </nav>
    </header>

    <div class="container" style="margin: 0px 0px 0px 20px; padding: 0px 0px 0px 0px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="header-footer-border-color border-top footer text-muted">
        <div class="container bright_links">
            Powered by <a target="_blank" href="https://ollama.com">OLlama Server</a>&nbsp;&nbsp;|&nbsp;&nbsp;Developed
            with <a target="_blank" href="https://code.visualstudio.com">VS Code</a> and <a target="_blank"
                href="https://www.postman.com">Postman</a>&nbsp;&nbsp;|&nbsp;&nbsp;&copy; 2025 -
            Xcodeguy&nbsp;&nbsp;|&nbsp;&nbsp;<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
