@{
    ViewData["Title"] = "AiChatMvcV2";
}

<body>
    <div class="PromptContainer">
        <table id="" class="PromptTable">
            <thead>
                <tr class="">
                    <th id="" class="PromptTableHeading">Prompt</th>
                    <th id="" class="PromptTableHeading">Negative Prompt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="OriginalPromptLabel" class="PromptTableData">
                    </td>
                    <td id="NegativePromptLabel" class="PromptTableData">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ChatContainer">

        <div class="chat_scrollable">
            <div class="chat" id="divChat">

            </div>
        </div>

        <div class="chat_dashboard">
            <div class="model_stats_label">
                Elapsed time:
            </div>
            <div id="RealTimeClock" class="model_stats">
                00:00:00
            </div>

            <div class="model_stats">
                <button id="btnApiCallToggle" type="button" class="btn btn-success">Started</button>
                <button id="btnClearChatWindow" type="button" class="btn btn-primary">Clear</button>
            </div>

            <div id="ModelStatsLabel" class="model_stats_label">
                <div class="container" style="padding: 0px; marging: 0px;">
                    Model Iteration
                    <div class="progress" style="width:50%; height: 25px;">
                        <div id="ProgressBar" class="progress-bar ProgressBarColor">
                            <span id="ProgressBarText" class="ProgressBarTextColor"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ModelStats" class="model_stats">
                some model
            </div>

            <div class=" model_stats_label">
                <table>
                    <tr>
                        <td style="padding-right: 100px;" class="model_stats_label">Round Trips:</td>
                        <td class="model_stats_label">Exceptions:</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="ModelRT" class="model_stats">
                                000000
                            </div>
                        </td>
                        <td>
                            <div id="ModelEceptions" class="model_stats">
                                0
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class=" model_stats_label">
                Model stats:
            </div>
            <div class="model_stats">
                <table id="ModelStatsTable" class="ModelStatsTable">
                    <thead>
                        <tr class="ModelStatsTableRow">
                            <th class="ModelStatsTableHeading"></th>
                            <th id="ThFasterColumn" class="ModelStatsTableHeading">Fastest</th>
                            <th id="ThWordColumn" class="ModelStatsTableHeading">Words</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <ul id="ModelNameList">

                </ul>
            </div>
        </div>
    </div>
</body>